# Gradle
.gradle/
build/
out/
classes/
!fabric/gradle/wrapper/
!fabric/gradle/wrapper/gradle-wrapper.jar

# Fabric
fabric/run/
*.jar                   

# Logs
hs_err_*.log
replay_*.log
*.hprof
*.jfr
*.log

# Cache
.cache/

# IDEs
fabric/.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
bin/
.classpath
.project

# macOS
*.DS_Store

# Eclipse
*.launch
